@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*  inject a montserrat font */
    font-family: 'Montserrat', sans-serif;
}

/* use selection as red*`//
 */
::selection {
    background: #e72828;
    color: #fff;
}

/* Override selection styles for elements with gradient background */
.bg-clip-text::selection {
    background: #e72828;
    color: #ffffff; /* Change to a color that contrasts with the selection background */
}

@layer utilities {
    .scrollbar-thin {
        scrollbar-width: thin;
        scrollbar-color: #c9d0e3 #EDF2F7;
    }

    .scrollbar-thin::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background-color: #4A5568;
        border-radius: 4px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background-color: #EDF2F7;
    }
}